@media (min-width:100px) and (max-width: 768px){
     #nav{
        height:25vh;
    }

    #InformationsShow{
        height: 100vh;
        width: 95vw;

        font-size: 19px;
        font-family: 'Prompt';
    }

     input{
        font-size: 17px;
        font-family: 'Prompt';

        color:rgb(20, 25, 29);
    }

}